:root {
  --main-color: #37517e;
}
.text-blue {
  color: var(--main-color) !important;
}

.hero {
  background-color: #37517e;
}
.navbar a {
  color: white !important;
}
.dropdown-menu a {
  color: black !important;
}
.paint {
  animation: move 2s linear infinite alternate;
}
@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.gray-line {
  position: relative;
  width: 20%;
  height: 2px;
  background-color: lightgray;
  margin: 10px auto;
}
.blue-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 3px;
  background-color: aqua;
}
.alarm {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: #37517e;
  margin: 1rem 0 0 0;
}
.progressbar {
  border-radius: 0;
  background-color: gray !important;
}
.progress-bar {
  background-color: #274571 !important;
  border-radius: 0 !important;
}

.workcard {
  overflow: hidden;
}
.workcard img {
  transition: all 0.4s;
}
.work-card:hover img {
  transform: scaleY(1.1);
}

.content {
  z-index: 111;
}
.work-card:hover .content {
  transform: translateY(-20px);
}
.work-card .content {
  transition: all 0.4s;
}
.apple {
  overflow: hidden;
}
